In [ ]:
# Python collection
# List
# Tuple
# Dict
# Set

In [ ]:
# List
# Multiple and duplicate data
# Indexing
# Ordered
# Mutable

In [ ]:
a = list()
b = []

In [1]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
b = [0,1,2,3,4,5,6,7,8,9,0]
print(type(a))
print(type(b))
print(a)

<class 'list'>
<class 'list'>
['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [3]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(a[0])
print(a[0:5])
print(a[0:5:2])

Apple
['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
['Apple', 'Cat', 'Fish']

In [4]:
a = [1,2,3,4,5]
b = [6,7,8,9,]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
a =[1,2,3,4,5]
print(a*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
#append() insert() extend()

In [6]:
a = []
a.append("Apple")
a.append("Ball")
print(a)

['Apple', 'Ball']

In [9]:
l = []
n = int(input("Enter n = "))
for i in range(n):
        x = int(input("Enter x = "))
        l.append(x)
print(l)

Enter n =  10
Enter x =  25
Enter x =  2
Enter x =  24
Enter x =  12
Enter x =  15
Enter x =  20
Enter x =  23
Enter x =  3
Enter x =  4
Enter x =  5

[25, 2, 24, 12, 15, 20, 23, 3, 4, 5]

In [12]:
print("Min value = ",min(l))
print("Max value = ",max(l))
print("Sum value = ",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

Min value =  2
Max value =  25
Sum value =  133
[2, 3, 4, 5, 12, 15, 20, 23, 24, 25]
[25, 24, 23, 20, 15, 12, 5, 4, 3, 2]

In [13]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    l.append(x)

Enter n =  2
Enter x =  ram
Enter x =  shyam

In [14]:
print(l)

['ram', 'shyam']

In [15]:
l.sort()
print(l)

['ram', 'shyam']

In [16]:
# insert()
a = ['Gita', 'Hari', 'Shyam', 'Sita']
b = [1,2,3,4,5]
a.extend(b)
print(a)

['Gita', 'Hari', 'Shyam', 'Sita', 1, 2, 3, 4, 5]

In [17]:
#update
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry',]
a[0] = 'Nita' 
a

['Nita', 'Hari', 'Shyam', 'Sita', 'Harry']

In [18]:
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry',]
a[0:2] =['Jack','John']
a

['Jack', 'John', 'Shyam', 'Sita', 'Harry']

In [19]:
# insert multiple values inside certain index
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry',]
a[1:1] = ["Steave","Bill"]
a

['Gita', 'Steave', 'Bill', 'Hari', 'Shyam', 'Sita', 'Harry']

In [20]:
# For delete del remove() pop()
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry',]
del a[0]
print(a)

['Hari', 'Shyam', 'Sita', 'Harry']

In [21]:
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry',]
del a[0:2]
a

['Shyam', 'Sita', 'Harry']

In [22]:
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry',]
a.remove('Gita')
a

['Hari', 'Shyam', 'Sita', 'Harry']

In [23]:
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry',]
a.pop()
a

['Gita', 'Hari', 'Shyam', 'Sita']

In [24]:
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry',]
a.pop(1)
a

['Gita', 'Shyam', 'Sita', 'Harry']

In [25]:
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry',]
b = a.pop(1)
print(a)
print(b)

['Gita', 'Shyam', 'Sita', 'Harry']
Hari

In [26]:
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry',]
for i in a:
    print(i)

Gita
Hari
Shyam
Sita
Harry

In [27]:
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry',]
l = len(a)
l

5

In [28]:
i = 0
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry',]
l = len(a)
while i<l:
    print(a[i])
    i = i+1

Gita
Hari
Shyam
Sita
Harry

In [29]:
#removing multiple values
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry', 'Ram', "Ram"]
a.remove("Ram")
a

['Gita', 'Hari', 'Shyam', 'Sita', 'Harry']

In [30]:
i  = 0
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry', 'Ram']
del a[3]
a

['Gita', 'Hari', 'Shyam', 'Harry', 'Ram']

In [31]:
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry', 'Ram', "Ram"]
c = a.count("Ram")
for i in range(c):
    a.remove("Ram")
    print(a)

['Gita', 'Hari', 'Shyam', 'Sita', 'Harry', 'Ram']
['Gita', 'Hari', 'Shyam', 'Sita', 'Harry']

In [32]:
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry', 'Ram', "Ram"]
if "Ram" in a:
    print("Yes",a.count("Ram"))
else:
    print("No")

Yes 2

In [33]:
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry', 'Ram', "Ram"]
a.index("Ram")

5

In [41]:
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry', 'Ram', "Ram"]
l = len(a)
for i in range(l):
if a[i] == 'Ram':
    print(i)

IndentationError: expected an indented block after 'for' statement on line 3 (4238499385.py, line 4)

In [42]:
a = ['Gita', 'Hari', 'Shyam', 'Sita', 'Harry', 'Ram', "Ram"]
l = len(a)
for i in range(l):
if a[i] == 'Ram':
    print(i)

IndentationError: expected an indented block after 'for' statement on line 3 (4204578075.py, line 4)