In [ ]:
# loop
# for loop
# while loop

range() #creates sequences of no

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range (1,5):
    print(i)

1
2
3
4

In [3]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [5]:
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [6]:
x = int(input("Enter x = "))
for i in range(1,11):
    print(x,"*",i,"=",i*x)

Enter x =  7

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [7]:
for i in range(5):
    x = int(input("Enter x = "))

Enter x =  3
Enter x =  4
Enter x =  5
Enter x =  6
Enter x =  7

In [10]:
abc = 0
for i in range(5):
    x = int(input("Enter x = "))
    abc = abc + x
print(abc)

Enter x =  2000
Enter x =  5000
Enter x =  7000
Enter x =  9000
Enter x =  4000

27000

In [12]:
abc = "" #str()
for i in range(5):
    x = input("Enter x = ")
    abc = abc + x + " "
print(abc)

Enter x =  ram
Enter x =  shyam
Enter x =  hari
Enter x =  nabin
Enter x =  haridas

ram shyamharinabinharidas

In [18]:
contact = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    contact = contact + name + " " + str(phone) +"\n"
print(contact)

Enter n =  2
Enter name =  ram
Enter phone =  233534635
Enter name =  shyam
Enter phone =  23455475469679

ram  233534635
shyam 23455475469679

In [ ]:
#5! = 1*2*3*4*5

In [14]:
fac = 1 
n = int(input("Enter n = "))
for i in range(1, n+1):
    fac = fac*i
    print(fac)

Enter n =  5

1
2
6
24
120

In [15]:
for i in range(10):
    print(i * 'o')

o
oo
ooo
oooo
ooooo
oooooo
ooooooo
oooooooo
ooooooooo

In [17]:
n = 10
for i in range(10):
    print((n-i)*" ",2*(i * 'o'))
    for i in range(5):
        print(7*" ",5*"o")

        ooooo
        ooooo
        ooooo
        ooooo
        ooooo
          oo
        ooooo
        ooooo
        ooooo
        ooooo
        ooooo
         oooo
        ooooo
        ooooo
        ooooo
        ooooo
        ooooo
        oooooo
        ooooo
        ooooo
        ooooo
        ooooo
        ooooo
       oooooooo
        ooooo
        ooooo
        ooooo
        ooooo
        ooooo
      oooooooooo
        ooooo
        ooooo
        ooooo
        ooooo
        ooooo
     oooooooooooo
        ooooo
        ooooo
        ooooo
        ooooo
        ooooo
    oooooooooooooo
        ooooo
        ooooo
        ooooo
        ooooo
        ooooo
   oooooooooooooooo
        ooooo
        ooooo
        ooooo
        ooooo
        ooooo
  oooooooooooooooooo
        ooooo
        ooooo
        ooooo
        ooooo
        ooooo

In [ ]:
WAP to make a billing system.
name = ?
price = ?
quantity = ?
total = ?
#coke 100 3 300
# momo 150 4 600