In [ ]:
# Dictionary
# Indexing
# Multiple and duplicate data or values
# Ordered
# Mutable

In [1]:
d = dict()
d = {}
print(type(d))

<class 'dict'>

In [ ]:
# d = {<key>:<value>}

In [3]:
d = {'a':'Apple','b':'ball'}
print(d['a'])
print(d['b'])
print(d)

Apple
ball
{'a': 'Apple', 'b': 'ball'}

In [ ]:
d = {1:1,2:4,3:9,4:16}
b = {'a':'Apple','b':'ball'}
print

In [5]:
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    a[name] = phone
print(a)

Enter n =  2
Enter name =  ram
Enter phone =  9802345678
Enter name =  shyam
Enter phone =  985672234

{'ram': 9802345678, 'shyam': 985672234}

In [6]:
a = {'ram': 9802345678, 'shyam': 985672234,'nabin':98421389}
for i in a:
    print(i)

ram
shyam
nabin

In [7]:
a = {'ram': 9802345678, 'shyam': 985672234,'nabin':98421389}
for i in a.values():
    print(i)

9802345678
985672234
98421389

In [12]:
a = {'ram': 9802345678, 'shyam': 985672234,'nabin':98421389}
for i in a.items():
    print(a)

{'ram': 9802345678, 'shyam': 985672234, 'nabin': 98421389}
{'ram': 9802345678, 'shyam': 985672234, 'nabin': 98421389}
{'ram': 9802345678, 'shyam': 985672234, 'nabin': 98421389}

In [13]:
a = {'ram': 9802345678, 'shyam': 985672234,'nabin':98421389}
a['Rama'] = 986754321
a

{'ram': 9802345678, 'shyam': 985672234, 'nabin': 98421389, 'Rama': 986754321}

In [14]:
a = {'ram': 9802345678, 'shyam': 985672234,'nabin':98421389}
b = {'sita':985678123,'hari':982341678}
a.update(b)
a

{'ram': 9802345678,
 'shyam': 985672234,
 'nabin': 98421389,
 'sita': 985678123,
 'hari': 982341678}

In [ ]:
# delete in dict
# del pop

In [15]:
a = {'ram': 9802345678, 'shyam': 985672234,'nabin':98421389}
del a['ram']
a

{'shyam': 985672234, 'nabin': 98421389}

In [16]:
a = {'ram': 9802345678, 'shyam': 985672234,'nabin':98421389}
b = a.pop('ram')
print(b)
print(a)

9802345678
{'shyam': 985672234, 'nabin': 98421389}

In [20]:
# list inside dict
a = {'ram':[ 9802345678,985423367], 'shyam': [985672234,980213456], 'nabin': [98421389,980234156]}
a['ram']

[9802345678, 985423367]

In [22]:
a = {'name':['Ram','Shyam','Hari'],
     'age':[23,56,34],
     'add':["Kathmandu","Bhaktapur","Lalitpur"]}
a

{'name': ['Ram', 'Shyam', 'Hari'],
 'age': [23, 56, 34],
 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur']}

In [23]:
a = {'ram':[ 9802345678,985423367], 'shyam': [985672234,980213456], 'nabin': [98421389,980234156]}
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc no = "))
    ncell = int(input("Enter ncell no = "))
    a[name] = [ntc,ncell]
print(a)

Enter n =  2
Enter name =  ram
Enter ntc no =  984567812
Enter ncell no =  98023456789
Enter name =
Enter ntc no =  984567782
Enter ncell no =  9804321

{'ram': [984567812, 98023456789], '': [984567782, 9804321]}

In [1]:
# a ={'name',:['Ram','Shyam','Hari'],
#    'age':[23,56,36],
#     add:['Kathmandu','Bhaktapur','Lalitpur']}
a = {'name':[],'add':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age no = "))
    add = input("Enter add no = ")
    a['name'].append(name)
    a['age'].append(age)
    a['add'].append(add)
print(a)

Enter n =  2
Enter name =  ram
Enter age no =  23
Enter add no =  kathmandu

KeyError: 'age'