In [7]:
#!pip install pandas
import pandas as pd

In [1]:
file = open("info.csv",'x')
file.close()

In [8]:
info = ""
file = open("info.csv",'w')
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = info + f"{name},{age},{add}\n"
    
file.write(info)
file.close()

Enter n =  4
Enter name =  ram
Enter age =  20
Enter add =  kathmandu
Enter name =  hari
Enter age =  21
Enter add =  bhaktapur
Enter name =  shyam
Enter age =  22
Enter add =  lalitpur
Enter name =  gita
Enter age =  23
Enter add =  jhapa

In [10]:
import pandas as pd
df = pd.read_csv('info.csv')
df

     ram  20  kathmandu
0   hari  21  bhaktapur
1  shyam  22   lalitpur
2   gita  23      jhapa

In [17]:
df = pd.read_csv('info.csv')
df.head(4)
df

     ram  20  kathmandu
0   hari  21  bhaktapur
1  shyam  22   lalitpur
2   gita  23      jhapa

In [20]:
df['sn'] = [i for i in range(1,4)]