In [1]:
name = input("Enter name")
m= int(input("Enter your marks obtain in maths"))
s= int(input("Enter your marks obtain in science"))
n= int(input("Enter your marks obtain in nepali"))
c= int(input("Enter your marks obtain in computer"))
s= int(input("Enter your marks obtain in social"))
total= m+s+n+c+s
per = total/5
if per >= 80:
    grade = "A"
elif per >= 60:
    grade = "B"
elif per >= 45:
    grade = "C"
else:
    grade = "F"

#insert data into tale
sql = f'''INSERT INTO STUDENT (name,m, s, n, c, total, per, grade)
        VALUES('{name}', {m}, {s}, {n}, {c}, {s}, {total}, {per}, {grade}')'''
db.execute(sql)
database.commit()
print(db.rowcount, "record inserted.")

Enter name Nabin
Enter your marks obtain in maths 89
Enter your marks obtain in science 79
Enter your marks obtain in nepali 89
Enter your marks obtain in computer 95
Enter your marks obtain in social 85

NameError: name 'db' is not defined